<div class="text-center">
   <h2>Title: <%= @title %></br></h2>
   <h2>IMBD vote average: <%= get_movie(@title).vote_average %></h2>
   <h3>Tagline: <%= get_movie(@title).tagline %></h3>
   <h4>Overview: <%= get_movie(@title).overview %></h4>
   <h2>Budget:</h2> <p><%= get_movie(@title).budget %></p>
</div>